<style>
*.justify { text-align:justify; }
*.justify-last { -moz-text-align-last:justify; }
*.center { text-align: center; -moz-text-align-last:center;}
*.right { float: right;}
*.huge { font-size:2em; }
*.bigger { font-size:1.5em; }
*.normal { font-style:normal; }
*.italic { font-style:italic; }
.firstcharacter { float: left; font-size: 2.5em; line-height: 0.9em; padding-right:0.1em; }
</style>
<div class="justify justify-last italic" style="width:275px; font-size:16px;">
<div class="center huge normal">Advertisement.</div>
<br>
<span class="firstbig normal">T</span>hese Reflections being made in the
Country, where the Book that occa&shy;sion's
them came but late to Hand, the
<span class="normal">Reader</span> is desir'd to excuse their Unseasona&shy;bleness
as well as other Faults; and to be&shy;lieve
that they have no other Design than
to Correct some Abuses, which are not the
less because Power and Prescription seem to
Authorize then. If any is so needle fly cu&shy;rious
as to enquire from what Hand they
come, they may please to know, that it is
not good Manners to ask, Since the Title&shy;Page
does not tell them: We are all of us
sufficiently Vain, and without doubt the Ce&shy;lebrated
<span class="normal">Name of Author</span>, which most are
so fond of, had not been avoided but for
very good Reasons: To name but one; <span class="normal">Who
will care to pull upon themselves an Hor&shy;net's
Nest ?</span> 'Tis a very great Fault to
regard rather who it is that Speaks,
than what is spoken; and either to sub&shy;mit
to Authority, when we should only
<div class="center">A2<span class="right">yield</span></div>
</div>