<style>
*.justify { text-align:justify; }
*.justify-last { -moz-text-align-last:justify; }
*.center { text-align: center; -moz-text-align-last:center;}
*.right { float: right;}
*.huge { font-size:2em; }
*.bigger { font-size:1.5em; }
*.big { font-size:1.25em; }
*.normal { font-style:normal; }
*.italic { font-style:italic; }
*.smallcap { font-variant:small-caps; }
.firstbig { float: left; font-size: 2.5em; line-height: 0.9em; padding-right:0.1em; }
.firstbigger { float: left; font-size: 3.75em; line-height: 0.9em; padding-right:0.1em; }
.firsthuge { float: left; font-size: 5em; line-height: 0.9em; padding-right:0.1em; }
</style>
<div class="justify" style="width:275px; font-size:16px;">
<div class="center">(1)</div>
<hr>
<hr>
<div class="center">
<div class="bigger">SOME</div>
<div class="huge">REFLECTIONS</div>
<div class="bigger">UPON</div>
<div class="huge italic">MARRIAGE,</div>
</div>
<br>
<div class="big">
Occasion'd by the Duke and Dutchess
of Mazarine's <span class="smallcap">Case</span>; which is
also consider'd.
</div>
<br>
<div class="justify-last">
<span class="firsthuge">C</span>uiosity, which is sometimes an
occasion of Good, and too fre&shy;quently
of Mischiefm by di&shy;sturbing
either our Own, or
our Neighbour's Repose, having put me
upon reading the Duke and Dutchess of Ma&shy;zarone's
Case; I thought and Afternoon
wou'd not be quite thrown away in pur-
suing some Reflections that it occation'd.
The name of Mazarine is considerable e-
</div>
<div class="center">B<span class="right">nough</span></div>
</div>