body {margin:0px;}
/*#bookPreview {width:600px;height:600px;border:1px solid #b8b8b8;}*/
#d_magazine {overflow:hidden;position:absolute;border:none;background-color:black;width:800px;height:700px;z-index:-100;}
#info{text-align:center;color:#08c;font-size:4vmin;margin-top:3vmin;display:hidden;}
#magazine {overflow:visible !important;position:absolute;display:none;}
#dOverlay #dBase {z-index:50}
#log {position:fixed;bottom:0px;right:0px;}
#popupMsg {display:none;z-index:1002;left:0px;right:0px;top:0px/*41px*/;position:fixed;background-color:#0088cc;color: #fff;padding:5px;text-align:center;font-size:2em;}
#blockAction {display:none;z-index:1001;left:0px;right:0px;top:0px;bottom:0px;position:fixed;background-color:rgba(0,0,0,0.25);/*background-image:url('loader.gif');background-repeat:no-repeat;background-attachment:fixed;background-position:center;*/}
*.controlbutton{float:right;margin-right:5px;background-position:center;background-color:#08c;border-radius:5px;border:none;background-repeat:no-repeat; }
*.controlbutton:disabled{background-color:#888;}
#controller {z-index:200;background-color:rgba(255,255,255,0.6);border-top:solid 1px #b8b8b8;position:relative;padding:5px;}
#dOpacityController {position:absolute;}
#opacityController {height:12px;margin:10px} 