@font-face {
	font-family: 'MrsEavesXLSerifOT-Reg';
	src: url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.eot');
	src: url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.svg#mrseavesxlserot-reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifOT-Bold';
	src: url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.eot');
	src: url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.svg#mrseavesxlserot-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifOT-BoldItalic';
	src: url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.eot');
	src: url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.svg#mrseavesxlserot-bolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-Reg';
	src: url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.eot');
	src: url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.svg#mrseavesxlsernarot-reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-RegItalic';
	src: url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.eot');
	src: url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.svg#mrseavesxlsernarot-regitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-Bold';
	src: url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.eot');
	src: url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.svg#mrseavesxlsernarot-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-BoldItalic';
	src: url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.eot');
	src: url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.svg#mrseavesxlsernarot-bolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrEavesSanOT-Reg';
	src: url('fonts/mr_eaves_sans_reg/mreavessanot-reg.eot');
	src: url('fonts/mr_eaves_sans_reg/mreavessanot-reg.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mr_eaves_sans_reg/mreavessanot-reg.woff') format('woff'),
			 url('fonts/mr_eaves_sans_reg/mreavessanot-reg.ttf') format('truetype'),
			 url('fonts/mr_eaves_sans_reg/mreavessanot-reg.svg#mreavessanot-reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrEavesSanOT-RegItalic';
	src: url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.eot');
	src: url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.woff') format('woff'),
			 url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.ttf') format('truetype'),
			 url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.svg#mreavessanot-regitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrEavesSanOT-Bold';
	src: url('fonts/mr_eaves_sans_bold/mreavessanot-bold.eot');
	src: url('fonts/mr_eaves_sans_bold/mreavessanot-bold.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mr_eaves_sans_bold/mreavessanot-bold.woff') format('woff'),
			 url('fonts/mr_eaves_sans_bold/mreavessanot-bold.ttf') format('truetype'),
			 url('fonts/mr_eaves_sans_bold/mreavessanot-bold.svg#mreavessanot-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */

* {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	quotes: '\201C' '\201D' "\2018" "\2019";
}

.scroll, .scroll-y, .scroll-x {
    -webkit-overflow-scrolling: touch;
}
.scroll > *, .scroll-y > *, .scroll-x > * {
    -webkit-transform : translateZ(0);
}
.scroll { overflow: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x { overflow-x: auto; }

body {
	background: #000;
	color: #4d4d4d;
}

#text_display > div > div {
	width: 327px;
	height: 620px;
	background: #f2f2f2;
	padding: 40px;
	color: #4d4d4d;
	font-family: "MrsEavesXLSerifNarOT-Reg", serif;
	-webkit-user-select: auto;
}

#text_display header > div > div  {
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
	padding: 3px;
	position: relative;
	text-align: center;
	font-family: "MrsEavesXLSerifNarOT-RegItalic", serif;
}

#text_display > div > div header span.left {
	text-align: left;
	float: left;
	font-family: "MrsEavesXLSerifNarOT-Reg", serif;
}

#text_display > div > div header span.right {
	text-align: right;
	float: right;
	font-family: "MrsEavesXLSerifNarOT-Reg", serif;
}

#text_display > div > div p {
	margin-top: 8px;
	text-indent: 16px;
	font-size: 16px;
	line-height: 19px;
}

#text_display > div > div span.character {
	font-family: "MrsEavesXLSerifNarOT-RegItalic", serif;
}

#text_display > div > div em {
	font-family: "MrsEavesXLSerifNarOT-RegItalic", serif;
}

#text_display > div > div p.right {
	text-align: right;
	
}

#text_display > div > div div.scene {
	border-top: 1px solid #4d4d4d;
	padding: 8px 0;
	margin: 8px 0;
}

#text_display > div > div div.scene p.sceneNum {
	font-family: "MrsEavesXLSerifNarOT-Bold", serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}

#text_display > div > div p.setScene {
	font-family: "MrsEavesXLSerifNarOT-RegItalic", serif;
	text-align: center;
	text-indent: 0;
}

#text_display > div > div div.scene p.setScene em {
	font-family: "MrsEavesXLSerifNarOT-Reg", serif;
}