@font-face {
	font-family: 'MrsEavesXLSerifOT-Reg';
	src: url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.eot');
	src: url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.svg#mrseavesxlserot-reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifOT-Bold';
	src: url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.eot');
	src: url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.svg#mrseavesxlserot-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifOT-BoldItalic';
	src: url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.eot');
	src: url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.svg#mrseavesxlserot-bolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-Reg';
	src: url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.eot');
	src: url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.svg#mrseavesxlsernarot-reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-RegItalic';
	src: url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.eot');
	src: url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.svg#mrseavesxlsernarot-regitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-Bold';
	src: url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.eot');
	src: url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.svg#mrseavesxlsernarot-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-BoldItalic';
	src: url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.eot');
	src: url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.svg#mrseavesxlsernarot-bolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrEavesSanOT-Reg';
	src: url('fonts/mr_eaves_sans_reg/mreavessanot-reg.eot');
	src: url('fonts/mr_eaves_sans_reg/mreavessanot-reg.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mr_eaves_sans_reg/mreavessanot-reg.woff') format('woff'),
			 url('fonts/mr_eaves_sans_reg/mreavessanot-reg.ttf') format('truetype'),
			 url('fonts/mr_eaves_sans_reg/mreavessanot-reg.svg#mreavessanot-reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrEavesSanOT-RegItalic';
	src: url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.eot');
	src: url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.woff') format('woff'),
			 url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.ttf') format('truetype'),
			 url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.svg#mreavessanot-regitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrEavesSanOT-Bold';
	src: url('fonts/mr_eaves_sans_bold/mreavessanot-bold.eot');
	src: url('fonts/mr_eaves_sans_bold/mreavessanot-bold.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mr_eaves_sans_bold/mreavessanot-bold.woff') format('woff'),
			 url('fonts/mr_eaves_sans_bold/mreavessanot-bold.ttf') format('truetype'),
			 url('fonts/mr_eaves_sans_bold/mreavessanot-bold.svg#mreavessanot-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */

body {
	font-family : "MrsEavesXLSerifOT-Reg",sans-serif;
	padding:0px;
	margin:0px;
}
* div{
	/*border:1px solid black;*/
}
#container {
	width:1024px;
	height:768px;
}
#banner {
	font-family: "MrsEavesXLSerifNarOT-Bold",serif;
	height:128px;
	text-align:right;
	font-size:128px;
	background-color:rgb(122, 196, 204);
	color:rgb(255,255,255);
	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.15);
	padding-right:100px;
}
#navigator {
	height:40px;
	font-variant:small-caps;
	background-color:rgb(172, 224, 229);
	color:rgb(0,0,0);
	font-size:28px;
	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.15);
}
#navigator div {
	width:256;
	float:left;
	padding-top:8px;
	text-align:center;
	cursor:pointer;
}
#book_container {
	height:554px;
	color:rgb(255,255,255);
}
#book_preview {
	width:574px;
	height:522px;
	float:left;
	background-color:rgb(0,0,0);
	padding:16px;
}
#book_title {
	font-family:"MrsEavesXLSerifOT-BoldItalic",serif;
	height:36px;
	font-size:36px;
	float:right;
}
#book_author {
	font-size:36px;
	height:36px;
	clear:right;
	float:right;
}
#book_thumbnail {
	clear:right;
	float:right;
	width:540px;
	height:400px;
	padding:16px;
	position:relative;
}
#book_thumbnail img.left {
	position: absolute;
	right:50%;
}
#book_thumbnail img.right {
	position: absolute;
	left:50%;
}
#book_publisher {
	font-size:20px;
	height:20px;
	clear:right;
	float:right;
}
#book_content {
	width:386px;
	height:522px;
	float:left;
	color:rgb(0,0,0);
	padding:16px;
	background-color:rgb(242,253,255);
}
#book_toc {
	height:472px;
	overflow:hidden;
}
*.scroll-y {
	overflow:auto;
	width:100%;
	height:100%;
	padding-right:16px;
}
#toc {
	font-variant:small-caps;
	font-size:20px;
}
#toc li {
	color:rgb(102,112,114);
	border-top:1px solid rgb(222,233,235);
	padding:10px;
}
#toc li:first-child{
	border-top:none;
}
#toc li ul {
	margin-left:10px;
	display:none;
}
#book_link {
	height:52px;
}
#toc *.disc_arrow {
	width:20px;
	float:right;
}
*.chapter_button {
	cursor:pointer;
	border-radius: 5px;
	background: none repeat scroll 0% 0% rgb(122, 196, 204);
	font-size: 16px;
	color: white;
	padding: 6px;
	float: right;
	width: 50px;
	text-align:center;
	margin-left: 4px;
	margin-top: -4px;
}
*.book_button {
	cursor:pointer;
	width:100px;
	text-align:center;
	float:left;
	background-color:rgba(0,0,0,0.1);
	padding:10px;
	margin-left:8px;
	font-size:16px;
}
#publisher {
	height:46px;
	font-size:44px;
	text-align:center;
	background-color:rgb(122, 196, 204);
	color:rgb(255,255,255);
	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.15);
}