<style>
*.justify { text-align:justify; }
*.justify-last { -moz-text-align-last:justify; }
*.center { text-align: center; -moz-text-align-last:center;}
*.right { float: right;}
*.huge { font-size:2em; }
*.bigger { font-size:1.5em; }
*.normal { font-style:normal; }
*.italic { font-style:italic; }
.firstcharacter { float: left; font-size: 2.5em; line-height: 0.9em; padding-right:0.1em; }
</style>
<div class="justify italic" style="width:275px; font-size:16px;">
<div class="center bigger normal">Advertisement.</div>
yield to Reson; or if Reason press too
hard, to think to ward it off by Personal
Objections and Reflections. Bold Truths
may pass while the S[eaker is <span class="normal">Incognito</span>,
but are seldom endur'd when he is known;
few Minds being strong enough to bear
what contradicts their Principles and
Practices without recriminating when thry
can. And tho' to tell the Truth be the
most Friendly Office, yet whosoever is so
hardy as to venture at it, shall be coun&shy;ted
an Enemy for so doing.<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<div class="right huge normal">SOME<div>
</div>
