@font-face {
	font-family: 'MrsEavesXLSerifOT-Reg';
	src: url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.eot');
	src: url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_reg/mrseavesxlserot-reg.svg#mrseavesxlserot-reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifOT-Bold';
	src: url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.eot');
	src: url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_bold/mrseavesxlserot-bold.svg#mrseavesxlserot-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifOT-BoldItalic';
	src: url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.eot');
	src: url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_bold_italic/mrseavesxlserot-bolditalic.svg#mrseavesxlserot-bolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-Reg';
	src: url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.eot');
	src: url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_reg/mrseavesxlsernarot-reg.svg#mrseavesxlsernarot-reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-RegItalic';
	src: url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.eot');
	src: url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_reg_italic/mrseavesxlsernarot-regitalic.svg#mrseavesxlsernarot-regitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-Bold';
	src: url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.eot');
	src: url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_bold/mrseavesxlsernarot-bold.svg#mrseavesxlsernarot-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsEavesXLSerifNarOT-BoldItalic';
	src: url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.eot');
	src: url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.woff') format('woff'),
			 url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.ttf') format('truetype'),
			 url('fonts/mrs_eaves_xl_nar_bold_italic/mrseavesxlsernarot-bolditalic.svg#mrseavesxlsernarot-bolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrEavesSanOT-Reg';
	src: url('fonts/mr_eaves_sans_reg/mreavessanot-reg.eot');
	src: url('fonts/mr_eaves_sans_reg/mreavessanot-reg.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mr_eaves_sans_reg/mreavessanot-reg.woff') format('woff'),
			 url('fonts/mr_eaves_sans_reg/mreavessanot-reg.ttf') format('truetype'),
			 url('fonts/mr_eaves_sans_reg/mreavessanot-reg.svg#mreavessanot-reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrEavesSanOT-RegItalic';
	src: url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.eot');
	src: url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.woff') format('woff'),
			 url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.ttf') format('truetype'),
			 url('fonts/mr_eaves_sans_reg_italic/mreavessanot-regitalic.svg#mreavessanot-regitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrEavesSanOT-Bold';
	src: url('fonts/mr_eaves_sans_bold/mreavessanot-bold.eot');
	src: url('fonts/mr_eaves_sans_bold/mreavessanot-bold.eot?#iefix') format('embedded-opentype'),
			 url('fonts/mr_eaves_sans_bold/mreavessanot-bold.woff') format('woff'),
			 url('fonts/mr_eaves_sans_bold/mreavessanot-bold.ttf') format('truetype'),
			 url('fonts/mr_eaves_sans_bold/mreavessanot-bold.svg#mreavessanot-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */

* {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased;
	quotes: '\201C' '\201D' "\2018" "\2019";
}

.scroll, .scroll-y, .scroll-x {
    -webkit-overflow-scrolling: touch;
}
.scroll > *, .scroll-y > *, .scroll-x > * {
    -webkit-transform : translateZ(0);
}
.scroll { overflow: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x { overflow-x: auto; }

body.portrait #container {
	display: none;
}

#container {
	width: 1024px;
	height: 748px;
	background: #000;
}

#display_container {
	
}

div.mode {
	width: 1024px;
	height: 748px;
	display: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out; 
	-o-transition: all 0.5s ease-in-out; 
	transition: all 0.5s ease-in-out;
	-webkit-transform: translateZ(0);
}

#overview_display {
	display: block;
}

#titleBar {
	width: 100%;
	height: 44px;
	background: #7ac4cc;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1);
	position: relative;
	z-index: 1000;
}

#titleBar h1 {
	font-family: "MrsEavesXLSerifNarOT-Bold", serif;
	font-size: 24px;
	line-height: 44px;
	text-align: center;
	position: absolute;
	width: 100%;
	z-index: -1;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(255, 255, 255, .3), 0 -1px 0 rgba(0, 0, 0, .15);
}

#titleBar h1 span {
	font-family: "MrsEavesXLSerifNarOT-BoldItalic", serif;
}

#library {
	width: 360px;
	height: 704px;
	background: #f2fdff;
}

#library header {
	width: 100%;
	height: 34px;
	background: #ade1e6;
}

#library header h4 {
	font-family: "MrsEavesXLSerifNarOT-Bold", serif;
	padding: 1px 15px 0 15px;
	font-size: 18px;
	line-height: 34px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(255, 255, 255, .25), 0 -1px 0 rgba(0, 0, 0, .1);
}

#titleList {
	position: relative;
	z-index: 300;
	height: 670px;
}

#titleList li {
	padding: 15px;
	height: 36px;
	width: 330px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#titleList li.active {
	margin-top: -1px;
	padding-top: 16px;
	height: 37px;
	border: none;
	background: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

#titleList li:last-child {
	border: none;
}

#library, #content {
	float: left;
	position: relative;
}

#content {
	z-index: 0;
	width: 664px;
	height: 704px;
	background: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

p.title {
	font-family: "MrEavesSanOT-Bold", sans-serif;
	font-size: 22px;
	margin: -4px 0 0 0;
	height: 24px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: rgba(0, 0, 0, .9);
}

p.title span {
	font-family: "MrEavesSanOT-RegItalic", sans-serif;
}

p.author {
	font-family: "MrEavesSanOT-Reg", sans-serif;
	font-size: 18px;
	color: rgba(0, 0, 0, .4);
}

#titles > li {
	width: 664px;
	height: 704px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out; 
	-o-transition: all 0.25s ease-in-out; 
	transition: all 0.25s ease-in-out;
	-webkit-transform: translateZ(0);
}

#titles > li > div {
	display: none;
	width: 566px;
	height: 636px;
	padding: 34px 74px 34px 24px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out; 
	-o-transition: all 0.25s ease-in-out; 
	transition: all 0.25s ease-in-out;
	-webkit-transform: translateZ(0);
}

#titles > li > div:first-child {
	display: block;
}

#titles > li > div h2 {
	position: relative;
	z-index: -1;
	font-family: "MrEavesSanOT-Bold", sans-serif;
	font-size: 36px;
	color: #1a1a1a;
}

#titles > li > div h3 {
	font-family: "MrEavesSanOT-Reg", sans-serif;
	font-size: 24px;
	height: 26px;
	color: #999;
	margin-top: 5px;
}

#titles > li > div blockquote {
	margin-top: 30px;
	padding: 0 9px;
}

#titles > li > div div.long_text {
	margin-top: 32px;
}

#titles > li > div div.long_text p {
	text-indent: 32px;
}

#titles > li > div div.long_text p:first-child {
	text-indent: 0;
}

#titles > li > div p {
	position: relative;
	font-family: "MrsEavesXLSerifNarOT-Reg", serif;
	font-size: 18px;
	color: #666;
	line-height: 27px;
}

#titles > li > div p em{
	font-family: "MrsEavesXLSerifNarOT-RegItalic", serif;
}

#titles > li > div blockquote p.commentExcerpt:before {
	content: open-quote;
	font-family: "MrsEavesXLSerifNarOT-Bold", serif;
	font-size: 108px;
	position: absolute;
	top: 14px;
	left: -13px;
	z-index: -1;
	color: #e6e6e6;
}

#titles > li > div blockquote p.source {
	position: relative;
	font-family: "MrsEavesXLSerifNarOT-RegItalic", serif;
	font-size: 14px;
	line-height: 18px;
	color: #999;
	margin-top: 9px;
	width: 400px;
	padding: 0 30px;
}

#titles > li > div blockquote p.source:before {
	content: "\2014";
	position: absolute;
	top: 0px;
	left: 15px;
	z-index: -1;
}

div.previewImages {
	margin-top: 32px;
	height: 230px;
	width: 566px;
	font-size: 0;
	white-space: nowrap;
}

div.previewImages img {
	height: 230px;
	width: auto;
}

div.previewImages img.right {
	margin-right: 18px;
}

div.previewImages img:last-child {
	margin-right: 0;
}

ul.biblio {
	margin-top: 24px;
}

ul.biblio li {
	line-height: 27px;
	font-size: 18px;
	font-family: "MrEavesSanOT-Reg", sans-serif;
	color: #666;
	
}

ul.biblio li.header {
	font-family: "MrEavesSanOT-Bold", sans-serif;
	font-size: 22px;
	color: #1a1a1a;
	line-height: 27px;
}

ul.biblio li span {
	display: inline-block;
	width: 100px;
	color: #999;
}

ul.toc {
	margin-top: 18px;
	border-bottom: 1px solid #ccc;
}

ul.toc li.header {
	font-family: "MrEavesSanOT-Bold", sans-serif;
	font-size: 22px;
	color: #1a1a1a;
	border-bottom: 1px solid #ccc;
}

ul.toc > li {
	font-size: 18px;
	font-family: "MrEavesSanOT-RegItalic", sans-serif;
	color: #999;
	padding: 9px 0 9px 9px;
	border-bottom: 1px solid #e6e6e6;
}

ul.toc > li img.disc_arrow {
	width: 18px;
	height: auto;
	display: inline-block;
	float: right;
	margin-right: 9px;
}

ul.toc > li:last-child {
	border-bottom: none;
}

ul.toc li ul {
	display: none;
}

ul.toc li ul li {
	margin-left: 18px;
	height: 30px;
	line-height: 30px;
	font-size: 22px;
	font-family: "MrEavesSanOT-Reg", sans-serif;
	color: #666;
	padding: 9px;
	border-top: 1px solid #e6e6e6;
}

ul.toc li ul li:first-child {
	border-top: none;
}

ul.toc li ul li:last-child {
	padding-bottom: 0;
}

ul.toc li ul li div.buttons {
	position: relative;
	float: right;
	text-align: right;
	font-size: 0;
}

a.button {
	font-family: "MrEavesSanOT-Bold", sans-serif;
	text-decoration: none;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
	padding: 0 12px;
	border-radius: 5px;
	background: #7ac4cc;
	height: 30px;
	vertical-align: bottom;
	margin-left: 9px;
}

a.imageButton {
	position: absolute;
	right: 64px;
}

a.textButton {
	position: absolute;
	right: 0;
}

a.overviewButton {
	
}

a.viewButton {
	position: absolute;
	right: 0;
}

a.closeViewButton {
	float: right;
	right: 74px;
}

#image_display, #text_display {
	background: #000;
	position: relative;
}

ul.actionsBar {
	position: absolute;
	top: 24px;
	right: 10px;
	height: 700px;
	width: 50px;
}

ul.actionsBar li {
	width: 50px;
	height: 50px;
}

ul.actionsBar li img {
	width: 50px;
	height: auto;
}

ul.actionsBar li a.prevButton {
	position: absolute;
	bottom: 50px;
}

ul.actionsBar li a.nextButton {
	position: absolute;
	bottom: 0px;
}

div.book {
	-webkit-transform: translateZ(0);
	margin: 24px auto;
	height: 700px;
	position: relative;
}

div.book div img {
	height: 700px;
	width: auto;
}

div.blank_page {
	background: #fff;
}

#text_display * {
	-webkit-user-select: text;
}

#cavendish_plays_image, #cavendish_plays_text {
	width: 814px;
}

#text_display #cavendish_plays_text .text_page {
	width: 407px;
	height: 700px;
}

#text_display .text_page {
	background: #f2f2f2;
	color: #4d4d4d;
	font-family: "MrsEavesXLSerifNarOT-Reg", serif;
}

#text_display .text_page .pageWrap {
	width: 347px;
	height: 640px;
	padding: 30px;
}

#text_display .text_page header {
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
	padding: 3px;
	position: relative;
	text-align: center;
	font-family: "MrsEavesXLSerifNarOT-RegItalic", serif;
}

#text_display .text_page header span.left {
	text-align: left;
	position: absolute;
	left: 0;
	font-family: "MrsEavesXLSerifNarOT-Reg", serif;
}

#text_display .text_page header span.right {
	text-align: right;
	position: absolute;
	right: 0;
	font-family: "MrsEavesXLSerifNarOT-Reg", serif;
}

#text_display .text_page p {
	margin-top: 6px;
	text-indent: 16px;
	font-size: 16px;
	line-height: 18px;
}

#text_display .text_page span.character {
	font-family: "MrsEavesXLSerifNarOT-RegItalic", serif;
}

#text_display .text_page em {
	font-family: "MrsEavesXLSerifNarOT-RegItalic", serif;
}

#text_display .text_page p.right {
	text-align: right;
	
}

#text_display .text_page div.scene {
	border-top: 1px solid #4d4d4d;
	padding: 8px 0;
	margin: 8px 0;
}

#text_display .text_page div.scene p.sceneNum {
	font-family: "MrsEavesXLSerifNarOT-Bold", serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}

#text_display .text_page p.setScene {
	font-family: "MrsEavesXLSerifNarOT-RegItalic", serif;
	text-align: center;
	text-indent: 0;
}

#text_display .text_page p.setScene em {
	font-family: "MrsEavesXLSerifNarOT-Reg", serif;
}